/*
 Set the bodies font-family to Oswald, Verdana, Arial, sans-serif

 You will need to create a Google font kit for weights 300, 400, 500, and 700.
 Also do not forget to add a link for the Google fonts in the index.html page
*/


BODY {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin: 50px 100px 0px 100px;
}

h1, h2, h3, h4 {
    background-color: #D13A36;
    color: #fff;
    border: 1px;
    border-color: #D6A800;
    padding: 10px;
}

a {
    font-weight: 700;
}

a:link { 
    text-decoration: none;
    color: #D13A36;
}

a:hover {
    background-color: #D6A800;
    color: #D13A36;
}

a:visited {
    color:#c01a22;
}