/*
 Set the bodies font-family to Oswald, Verdana, Arial, sans-serif

 You will need to create a Google font kit for weights 300, 400, 500, and 700.
 Also do not forget to add a link for the Google fonts in the index.html page
*/
BODY {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
/*
Set the top margin to 50px
Set the left margin to 100px
set the right margin to 100px
*/
.container {
    margin: 50px 100px 0 100px;
}
/*
Set the h1, h2, h3, and h4 tags to a background color of 3C275A, a fonr color of #fff,
a border of 1px solid and #D6A800, and padding of 10px
*/
h1, h2, h3, h4 {
    background-color: #D13A36;
    border: 1px solid;
    border-color: #D6A800;
    color: #fff;
    padding: 10px;
}

a {
    font-weight: 700;
}

a:link { 
    color: #D13A36;
    text-decoration: none;
}

a:hover {
    background-color: #D6A800;
    color: #D13A36;
}

a:visited {
    color:#c01a22;
}